<div class="row">
    <div class="col-xs-6">
        <div class="text-label">Entidad</div>
        <p class=""><%- value?.entidad %></p>
    </div>
    <div class="col-xs-6">
        <div class="text-label">Nit</div>
        <p class=""><%- value?.nit %></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="text-label">Dirección</div>
        <p class=""><%- value?.direccion %></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="text-label">Detalle de Pago</div>
        <p class=""><%- value?.detallePago %></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="text-label">Tipo de Retención</div>
        <p class=""><%- value?.retencion?.nombre %></p>
    </div>
    <div class="col-xs-6">
        <div class="text-label">Tipo de Pago</div>
        <p class=""><%- value?.pago?.nombre %></p>
    </div>
</div>
<table class="table table-bordered" style="font-size: 12px;">
    <thead>
        <tr>
            <th scope="col">Detalle</th>
            <th scope="col">Importe</th>
            <% if (config?.consolidado) { %>
                <th scope="col">Impuestos / Retenciones</th>
                <th scope="col">Total</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% value?.item?.forEach((item,index) => { %>
            <tr>
                <td style="width: 25%;">
                    <p class="text-label">Partida:</p>
                    <p><%= item?.detalle?.value?.presupuesto?.partidaPresupuestaria?.descripcion %></p>
                    <p class="text-label">Detalle:</p>
                    <p><%= item?.detalle?.value?.item?.descripcion %></p>
                    <p class="text-label">Detalles Adicionales:</p>
                    <p><%= item?.detalleAdicional %></p>
                </td>
                <td style="width: 25%;">
                    <% if(config.importe) { %>
                        <p class="text-label">Importe:</p>
                        <p><%= item?.monto %></p>
                    <% } %>
                    <% if(item?.liberado > 0) { %>
                        <p class="text-label">Monto Liberado:</p>
                        <p><%= item?.liberado %></p>
                    <% } %>
                    <% if(config.multa) { %>
                        <p class="text-label">Multa:</p>
                        <p><%= item?.multa %></p>
                    <% } %>
                    <% if(config.devengado) { %>
                        <p class="text-label">Devengado:</p>
                        <p><%= item?.devengado %></p>
                    <% } %>
                </td>
                <% if (config?.consolidado) { %>
                    <td style="width: 25%;">
                        <p class="text-label">Retención:</p>
                        <p><%= item?.retencion %></p>
                        <p class="text-label">IVA:</p>
                        <p><%= item?.iva %></p>
                        <p class="text-label">IT:</p>
                        <p><%= item?.it %></p>
                        <p class="text-label">IUE:</p>
                        <p><%= item?.iue %></p>
                    </td>
                <% } %>
                <% if (config?.consolidado) { %>
                    <td style="width: 25%;">
                        <p class="text-label">Liquido Pagable:</p>
                        <p><%= item?.liquidoPagable %></p>
                        <p class="text-label">Total:</p>
                        <p><%= item?.total %></p>
                    </td>
                <% } %>
            </tr>
        <% }) %>
    </tbody>
</table>