<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('./css/font.ejs') %>
  <%- include('./css/bootstrap.ejs') %>
  <title>PDF</title>
  <style>
    body {
        font-family: Poppins,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 15px;
    }
    .subtitle, .title {
        font-weight: bold;
        margin: 0 0 10px;
    }
    .title {
        font-size: 29px;
        line-height: 35px;
        font-weight: bold;
    }
    .subtitle {
        font-size: 23px;
        font-weight: bold;
        line-height: 29px;
    }
    .text-bold {
        font-weight: 700;
    }
    .text-h4 {
        font-size: 34px;
        font-weight: 400;
        letter-spacing: .00735em;
        line-height: 40px;
    }
    .q-separator--horizontal {
        display: block;
        height: 2px;
    }
    .q-separator {
        background: black;
        border: 0;
        flex-shrink: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        transition: background .3s,opacity .3s;
    }
    .text-h50 {
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      text-justify: center;
    }
    .text-h51 {
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      text-justify: center;
    }
    .text-h60 {
      font-size: 12px;
      font-weight: bold;
      text-align: right;
      text-justify: center;
    }
    .text-h61 {
      font-size: 12px;
      font-weight: normal;
      text-align: right;
      text-justify: center;
    }
    .text-h70 {
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      text-justify: center;
    }
    .text-h71 {
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      text-justify: center;
    }
    .text-h72 {
      font-size: 11px;
      font-weight: normal;
      text-align: right;
      text-justify: center;
    }
    .text-bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
          <img src=<%=solicitud.logo1%>
          style="margin-bottom:20px;display: block;margin-right: auto;margin-right: auto;width: 200px;"
          alt="Logo" width="100">
      </div>
      <div class="text-h60">
        <div class="text-h60">
        SIPFA
        <br />
        Sistema Integrado de Planificación, Financiera y Administración
        </div>
      </div>
      <div class="text-h60">
        <br />
        Nro. Solicitud: <spa class="text-bold"> <%- solicitud.id %> </spa>
        <br />
        Nro. Certificación: <spa class="text-bold"> 820 </spa>
        <br />
        Fecha Certificación: <spa class="text-bold"> Jueves, 30 de Diciembre 2021 </spa>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <br />
      <p class="text-h4 text-bold">CERTIFICACIÓN POA</p>
    </div>

    <div class="col-xs-12">
      <div class="subtitle"> TIPO DE SOLICITUD: <%- solicitud.tipoSolicitud.nombre %> </div>
    </div>
    <div class="col-xs-12">
      <div class="text-justify">
        <p>Revisando el Plan Operativo Anual - POA <spa style="font-weight: bold">2021</spa> de esta entidad,
          la Dirección General de Planificación del Ministerio de Justicia y Transparencia Institucional - MJTI.
        </p>
          CERTIFICA:
        <br />
        <p>Que a solicitud realizada mediante documento de respaldo Nro. <spa style="font-weight: bold">MJTI-DGAA-ATIC INF-2020/2021</spa>
          se tiene inscrita la siguiente estructura operativa:
        </p>
        <br />
        <spa class="text-bold"> Tipo de Solicitud : </spa> <%- solicitud.tipoSolicitud.nombre %>
        <br />
        <spa class="text-bold"> Objeto : </spa> <%- solicitud.objetoContratacion %>

        <br />
        Para tal Efecto se adjunta la siguiente documentacion:
        <br />
        - Especificaciones Técnicas/ Términos de Referencia
        <br />
        - Formulario F-MPAC (Si corresponde).
        <br />
        <br />
        Sin otro particular, saludo a usted.
        <br />
        Atentamente.-
    </div>
  </div>

</body>
</html>